@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-arcade text-white bg-black overflow-hidden m-0 p-0;
  }
}


/* Wallet Button Styles 
*/
.wallet-adapter-button {
  background-color: transparent !important;
  border: 2px solid #4dc1f9 !important;
  color: #4dc1f9 !important;
  font-family: 'Press Start 2P', monospace !important;
  padding: 12px 24px !important;
  font-size: 14px !important;
  transition: all 0.3s ease !important;
}

.wallet-adapter-button:hover {
  background-color: #4dc1f9 !important;
  color: #000000 !important;
  box-shadow: 0 0 10px #4dc1f9;
}

.wallet-adapter-button:not(:disabled):hover {
  background-color: #4dc1f9 !important;
}
